body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  color: rgb(20, 25, 35);
  padding: 5% 15%;
  height: auto;
  font-family: serif;
  gap: 5em;
}

#image-of-me {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  filter: contrast(1.15) saturate(1.25) brightness(1.15);
}

body > * {
  max-width: 1000px;
}

body a,
p,
h4,
li {
  font-size: 1.25em;
  margin: 0em;
}

body h3 {
  font-size: 2.5em;
  font-family: "Courier New", monospace;
  color: rgba(20, 25, 35, 0.7);
}

body a,
h2,
p,
li,
h3 {
  text-decoration: none;
  color: rgb(20, 25, 35);
  margin: 0px;
}

.name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.name-bar > h3 {
  text-align: right;
  gap: 5em;
}

.name > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.name h2 {
  font-size: 5em;
  font-weight: bold;
  width: 50px;
  margin: 0px;
  display: inline-block;
  justify-content: center;
  font-family: "Courier New", monospace;
  color: rgba(20, 25, 35, 0);
  background-image: linear-gradient(
    rgba(20, 25, 35),
    rgba(20, 25, 35),
    orange,
    red,
    purple,
    blue
  );
  background-clip: text;
  background-size: 200% 500%;
  transition: 0.15s;
}

.name-bar {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  color: rgba(20, 25, 35, 0.7);
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  width: 171px;
  height: 46px;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(
    rgba(20, 25, 35),
    rgba(20, 25, 35),
    orange,
    red,
    purple,
    blue
  );
  background-clip: text;
  background-size: 200% 300%;
  transition: 0.15s;
  border: none;
}

.button-front {
  background-color: aliceblue;
}

.button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-image: linear-gradient(
    rgba(20, 25, 35),
    rgba(20, 25, 35),
    orange,
    red,
    purple,
    blue
  );
  background-size: 200% 400%;
  transition: 0.15s;
}

.button-front:hover {
  opacity: 0.95;
  transition: 0.15s;
}

.button-back:hover {
  scale: 105%;
  background-position: bottom;
}

.buttons:hover {
  scale: 105%;
  background-position: bottom;
}

.button-front:active {
  opacity: 1;
  transition: 0.15s;
}

.button-back:active {
  scale: 95%;
  background-position: center;
}

.buttons:active {
  scale: 95%;
  background-position: center;
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}

#projects-container > * {
  width: 250px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 40px;
  height: 100%;
}

.project-desc {
  text-align: center;
  margin: 10px 0px;
}

.project-desc span {
  color: steelblue;
  font-style: bold;
}

.logos {
  height: 50px;
  width: 500px;
  overflow: hidden;
  border-top: 1px solid steelblue;
  border-bottom: 1px solid steelblue;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.logos .list {
  display: flex;
  width: 100%;
  position: relative;
}

.logos .list .stack-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center center;
  margin: auto;
  position: absolute;
  left: 100%;
  animation: slide 24s linear infinite;
  animation-delay: calc((24s / var(--quantity)) * (var(--position) - 1));
}

.logos:hover .stack-image {
  animation-play-state: paused;
  filter: grayscale(1);
  transition: 0.15s;
}

.stack-image:hover {
  scale: 85%;
  transition: 0.15s;
  filter: grayscale(0) !important;
}

#about-me {
  width: 1000px;
  display: flex;
  flex-direction: row;
  gap: 5em;
}

#projects {
  width: 1000px;
}

.about-me-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@keyframes scroll-reveal {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slide {
  from {
    left: 100%;
  }
  to {
    left: -1301px;
  }
}

@media (max-width: 1100px) {
  body {
    padding: 5% 10%;
    gap: 3em;
  }

  body > * {
    max-width: 600px;
  }

  .name-bar {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    margin-top: 1em;
    gap: 1em;
  }

  #projects-container {
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  #projects-container > * {
    width: 90%;
    margin: 1em 0;
  }

  #about-me {
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }
}

@media (max-width: 660px) {
  body h3 {
    font-size: 2em;
  }

  body {
    padding: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }

  body > * {
    max-width: 80vw;
  }

  .name-bar {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #my-name {
    flex-direction: column;
    align-items: center;
  }

  #space {
    display: none;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    margin-top: 1em;
    gap: 1em;
  }

  #projects-container {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }

  #projects-container > * {
    width: 90%;
    margin: 1em 0;
  }

  #about-me {
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }

  .name h2 {
    font-size: 3em;
  }

  .about-me-paragraph p {
    font-size: 1em;
  }

  #about-me {
    gap: 1.5em;
  }
}
